<section class="about__page">
    <h1 class="title">Prueba Técnica</h1>
    <div class="about__container">
  
      <p class="about__paragraph">
        Angular 18 + GraphQL - Apollo Client.

       Proyecto realizado como prueba tecnica para la postulación a Front-end Developer Semi-Senior.
      </p>
      <figure class="about__img">
        <img src="../../../../assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406"
          height="306">
      </figure>
    </div>
    <p class="about__copy">
      Developed by <span class="text-white">Angel Rosales</span>
      <br>
      <a target="_blank" href="https://angelrosales.net/" class="btn btn-download" >www.angelrosales.net</a>
    </p>
  </section>
